{% extends 'base.html.twig' %}

{% block title %}
  {{ wish.title }} | parent() }}
{% endblock %}

{% block body %}
    <h1> Détails du souhait : {{ wish.title }}.</h1>
    <h4>Created by {{ wish.author }} on {{  wish.dateCreated|date('d/m/Y') }}.</h4>
    <p>{{ wish.description }}</p>
{% endblock %}



