<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Bucket-list {% endblock %}</title>

    {# Les classes CSS utilisées  #}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">

    {# Le Favicon #}
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
</head>
<body>
   <div class="container">
        {# En tête du site  #}
    <header>
        <h1><a href="{{ path('main_home') }}"><img src="{{ asset('img/logo.png') }}" alt="Bucket-list">Bucket-list</a></h1>
        {% include('inc/nav.html.twig') %}
    </header>

       {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

       {# Espace du main avec tout ce qu'il faut dedans #}
    <main>
        {% block body %}{% endblock %}
    </main>
       {# Le footer  #}
    <footer>
        <p>&copy;Bucket-list {{ "now"|date('Y') }}</p>
    </footer>
   </div>
</body>
</html>
